<p> Name: <i><%= user.displayName %></i> or <i><%= user.name %></i></p>
<p> Profile: <a href="<%= user.profileUrl %>"> here </a></p>
<img src="<%= user.img %>"></img>
<p>Secret: <button id="secretBtn">Show Me</button> <p id="userSecret" style="display: none;"><%= user.secret %></p></p>