
  <head>
    <script src="/rndback.js"></script>
  </head>
  <body class="slimScroll" data-slimscroll="1">
    <div class="scroll-wrapper unselectable mac" style="overflow: hidden !important" tabindex="-1">
  

    <!-- PARAMETERS PASSED IN. 
      user :          the user object.
      polls :         the most recent polls that they got, but with an creator_img url.
    -->
    <div class="mincon container" style="text-align: left;">
      
      
      <!-- Recent polls -->
      <div class="section-container">
        <!--Section Title-->
        <div class="section-title-container row">
          <h2 class="section-title">Recent Polls</h2>
          <div class="title-btn-container">
            <a href="/createpoll"><button class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i>
              Create Poll
          </button></a>
          </div>
        </div>
        <hr>
        
        <!--Displayed Polls-->
        <ul class="displayed-polls-container container row no-gutters col-12">
          <% for(var i = 0; i < polls.length; i++) { %>
            <% if (i == 0) { %>
              <div class="row col-12 poll-thumb-group no-gutters" id="poll-thumb-group-top">
            <% } 
                
            if(i == 3) { %>
              <div class="row col-12 poll-thumb-group no-gutters collapse collapse-recent" id="poll-thumb-group-bottom">
            <% } %>
                
            <div class="col-lg-4 col-12">
              <li class="poll-thumb poll-thumb-spaceme rndback">
                <a href="<%= polls[i].url %>" class="removelinkdefault poll-thumb-question col-12">
                  <h3 class="poll-thumb-question-text col-12"><%= polls[i].question %></h3>
                </a>
                <div class="poll-thumb-userbar col-12 row">
                  <div class="poll-thumb-icon">
                    <a href=""><img src="<%= polls[i].icon64 %>" class="img-responsive img rounded poll-thumb-icon rndbord"/></a>
                  </div>
                  <div class="col-9 row poll-thumb-user">
                    <h6 class="poll-thumb-username col-12">
                      <%= polls[i].displayName %>
                    </h6>
                    <hr class="col-12" />
                    <small class="poll-thumb-date col-12">
                      <%
                        var day = Date.now() / (86400 * 1000);
                        var dayoc = polls[i].doc / (86400 * 1000);
                        var daysFrom = Math.round((day - dayoc) * 10) / 10;
                      %>
                      <%= "~" + daysFrom + " days ago"%>
                      </small>
                    </div>
                  </div>
                </li>
              </div>
            <% if (i == 2 || (i == polls.length - 1)) { %>
              </div>
            <% } %>
          <% } %>
        </ul>
          
      <div id="viewall-container">
       <button class="btn btn-outline-primary view-all-btn" type="button" data-toggle="collapse" data-target=".collapse-recent" 
               aria-expanded="false" aria-controls="collapseExample">View All</button>
      </div>
          
      </div>
    </div>
    </div>
    <div class="scrollBarContainer animate"><div class="scroll" data-scrollbar="1" style="height: 21.6216%;"></div></div>
</body>